In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder,OneHotEncoder
import pickle

In [3]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#Preprocess the data
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
#Encode categeorical Variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [6]:
#One-hot encode 'Geography'
onehot_encoded_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoded_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoded_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
#Combine one-hot encoded columns with original data
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
#split data into features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [9]:
##split the data in training and testing

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
#Scale the feature

scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
#Save the encoder and scaler for later use

with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [12]:
## Train ANN Regresion Problem

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [13]:
#Build ANN model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), 
    Dense(32,activation='relu'),
    Dense(1) #Output layer for regression
])

#compile model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
##set up tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [15]:
 ##set up EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
#Training model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorboard_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 100376.9688 - mae: 100376.9688 - val_loss: 98512.8125 - val_mae: 98512.8125
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99612.5625 - mae: 99612.5625 - val_loss: 96964.7266 - val_mae: 96964.7266
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 96923.5234 - mae: 96923.5234 - val_loss: 93007.0000 - val_mae: 93007.0000
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 91648.8750 - mae: 91648.8750 - val_loss: 86439.7891 - val_mae: 86439.7891
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 83936.1484 - mae: 83936.1484 - val_loss: 77886.3750 - val_mae: 77886.3750
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 74810.4844 - mae: 74810.4844 - val_loss: 68890.7969 - val_mae: 68890.7969
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 65954.5156 - mae: 65954.5156 - val_loss: 61103.5273 - val_mae: 61103.5273
Epoch 8/100
250/250 [==============================] - 2s 7ms/step - loss: 58953.8789 - mae: 58953.8789 - val_loss: 55751.8945 - val_mae: 55751.8945
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 54316.4102 - mae: 54316.4102 - val_loss: 52564.5586 - val_mae: 52564.5586
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 51846.3906 - mae: 51846.3906 - val_loss: 51243.5898 - val_mae: 51243.5898
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 50780.0664 - mae: 50780.0664 - val_loss: 50802.4141 - val_mae: 50802.4141
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 50375.9531 - mae: 50375.9531 - val_loss: 50666.6367 - val_mae: 50666.6367
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50214.2812 - mae: 50214.2812 - val_loss: 50616.0352 - val_mae: 50616.0352
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50123.0117 - mae: 50123.0117 - val_loss: 50594.9727 - val_mae: 50594.9727
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50059.6523 - mae: 50059.6523 - val_loss: 50557.9023 - val_mae: 50557.9023
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50014.6367 - mae: 50014.6367 - val_loss: 50532.6484 - val_mae: 50532.6484
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 49974.4062 - mae: 49974.4062 - val_loss: 50510.1445 - val_mae: 50510.1445
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 49939.7109 - mae: 49939.7109 - val_loss: 50479.1641 - val_mae: 50479.1641
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 49905.2422 - mae: 49905.2422 - val_loss: 50455.9609 - val_mae: 50455.9609
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 49874.9766 - mae: 49874.9766 - val_loss: 50439.3047 - val_mae: 50439.3047
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49846.1133 - mae: 49846.1133 - val_loss: 50424.4648 - val_mae: 50424.4648
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49818.8672 - mae: 49818.8672 - val_loss: 50406.2539 - val_mae: 50406.2539
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49798.0117 - mae: 49798.0117 - val_loss: 50383.4297 - val_mae: 50383.4297
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49774.7070 - mae: 49774.7070 - val_loss: 50370.2891 - val_mae: 50370.2891
Epoch 25/100
250/250 [==============================] - 1s 5ms/step - loss: 49756.4492 - mae: 49756.4492 - val_loss: 50350.3789 - val_mae: 50350.3789
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 49737.0391 - mae: 49737.0391 - val_loss: 50344.6523 - val_mae: 50344.6523
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 49717.2734 - mae: 49717.2734 - val_loss: 50340.0898 - val_mae: 50340.0898
Epoch 28/100
250/250 [==============================] - 2s 7ms/step - loss: 49702.7383 - mae: 49702.7383 - val_loss: 50333.8867 - val_mae: 50333.8867
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49685.7383 - mae: 49685.7383 - val_loss: 50332.4648 - val_mae: 50332.4648
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49670.7695 - mae: 49670.7695 - val_loss: 50316.0859 - val_mae: 50316.0859
Epoch 31/100
250/250 [==============================] - 2s 10ms/step - loss: 49656.2578 - mae: 49656.2578 - val_loss: 50308.5000 - val_mae: 50308.5000
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49644.0273 - mae: 49644.0273 - val_loss: 50312.3086 - val_mae: 50312.3086
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49630.5508 - mae: 49630.5508 - val_loss: 50303.8555 - val_mae: 50303.8555
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49616.2344 - mae: 49616.2344 - val_loss: 50302.0859 - val_mae: 50302.0859
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 49604.5781 - mae: 49604.5781 - val_loss: 50305.9336 - val_mae: 50305.9336
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49593.3555 - mae: 49593.3555 - val_loss: 50296.9023 - val_mae: 50296.9023
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49585.2070 - mae: 49585.2070 - val_loss: 50295.9414 - val_mae: 50295.9414
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49574.3086 - mae: 49574.3086 - val_loss: 50295.6172 - val_mae: 50295.6172
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49561.4805 - mae: 49561.4805 - val_loss: 50292.7031 - val_mae: 50292.7031
Epoch 40/100
250/250 [==============================] - 2s 6ms/step - loss: 49548.8125 - mae: 49548.8125 - val_loss: 50292.2227 - val_mae: 50292.2227
Epoch 41/100
250/250 [==============================] - 1s 5ms/step - loss: 49542.1914 - mae: 49542.1914 - val_loss: 50293.0195 - val_mae: 50293.0195
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49531.6523 - mae: 49531.6523 - val_loss: 50289.4023 - val_mae: 50289.4023
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49524.4219 - mae: 49524.4219 - val_loss: 50290.4648 - val_mae: 50290.4648
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49517.3203 - mae: 49517.3203 - val_loss: 50289.2031 - val_mae: 50289.2031
Epoch 45/100
250/250 [==============================] - 1s 6ms/step - loss: 49501.9141 - mae: 49501.9141 - val_loss: 50278.8281 - val_mae: 50278.8281
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49497.1875 - mae: 49497.1875 - val_loss: 50280.4766 - val_mae: 50280.4766
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49489.4922 - mae: 49489.4922 - val_loss: 50286.1250 - val_mae: 50286.1250
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.6094 - mae: 49481.6094 - val_loss: 50292.3281 - val_mae: 50292.3281
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 49473.7734 - mae: 49473.7734 - val_loss: 50290.3672 - val_mae: 50290.3672
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49467.5781 - mae: 49467.5781 - val_loss: 50284.8203 - val_mae: 50284.8203
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49457.5430 - mae: 49457.5430 - val_loss: 50284.8281 - val_mae: 50284.8281
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49454.3320 - mae: 49454.3320 - val_loss: 50291.1016 - val_mae: 50291.1016
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49445.1914 - mae: 49445.1914 - val_loss: 50300.4297 - val_mae: 50300.4297
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 49437.4023 - mae: 49437.4023 - val_loss: 50306.6406 - val_mae: 50306.6406
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49430.6680 - mae: 49430.6680 - val_loss: 50304.6484 - val_mae: 50304.6484

In [17]:
%load_ext tensorboard

In [18]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 8156), started 3:08:00 ago. (Use '!kill 8156' to kill it.)

In [19]:
#Evaluate model test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50278.8281 - mae: 50278.8281
Test MAE : 50278.828125

In [20]:
model.save('regression_model.h5')

c:\Users\Hp\anaconda3\envs\myenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(